In [1]:
df = spark.read.option('quote', '"').option('escape', '"').option("delimiter", ",").option("multiLine", True).csv('../data/Reviews.csv', header=True, inferSchema=True)

In [5]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Clothing ID: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Review Text: string (nullable = true)
 |-- Rating: integer (nullable = true)
 |-- Recommended IND: integer (nullable = true)
 |-- Positive Feedback Count: integer (nullable = true)
 |-- Division Name: string (nullable = true)
 |-- Department Name: string (nullable = true)
 |-- Class Name: string (nullable = true)

In [6]:
 df.dtypes

[('_c0', 'int'),
 ('Clothing ID', 'int'),
 ('Age', 'int'),
 ('Title', 'string'),
 ('Review Text', 'string'),
 ('Rating', 'int'),
 ('Recommended IND', 'int'),
 ('Positive Feedback Count', 'int'),
 ('Division Name', 'string'),
 ('Department Name', 'string'),
 ('Class Name', 'string')]

In [7]:
df.groupBy("Age").count().show()

+---+-----+
|Age|count|
+---+-----+
| 31|  569|
| 85|    6|
| 65|  226|
| 53|  560|
| 78|   15|
| 34|  804|
| 81|    5|
| 28|  428|
| 76|   10|
| 27|  344|
| 26|  423|
| 44|  617|
| 91|    5|
| 22|  146|
| 93|    2|
| 47|  564|
| 52|  442|
| 86|    2|
| 40|  617|
| 20|  108|
+---+-----+
only showing top 20 rows

In [8]:
ages = df.select('Age')

In [9]:
ages.show()

+---+
|Age|
+---+
| 33|
| 34|
| 60|
| 50|
| 47|
| 49|
| 39|
| 39|
| 24|
| 34|
| 53|
| 39|
| 53|
| 44|
| 50|
| 47|
| 34|
| 41|
| 32|
| 47|
+---+
only showing top 20 rows

In [10]:
ages.count()

23486

In [11]:
ages.distinct().count()

77

In [12]:
ages.distinct().show()

+---+
|Age|
+---+
| 31|
| 85|
| 65|
| 53|
| 78|
| 34|
| 81|
| 28|
| 76|
| 27|
| 26|
| 44|
| 91|
| 22|
| 93|
| 47|
| 52|
| 86|
| 40|
| 20|
+---+
only showing top 20 rows

In [13]:
def age_filtering(age):
    df.filter(df['Age'] == age).show()

In [14]:
age_filtering('1')

+---+-----------+---+-----+-----------+------+---------------+-----------------------+-------------+---------------+----------+
|_c0|Clothing ID|Age|Title|Review Text|Rating|Recommended IND|Positive Feedback Count|Division Name|Department Name|Class Name|
+---+-----------+---+-----+-----------+------+---------------+-----------------------+-------------+---------------+----------+
+---+-----------+---+-----+-----------+------+---------------+-----------------------+-------------+---------------+----------+

In [15]:
df.select(df.Age.cast("int")).show()

+---+
|Age|
+---+
| 33|
| 34|
| 60|
| 50|
| 47|
| 49|
| 39|
| 39|
| 24|
| 34|
| 53|
| 39|
| 53|
| 44|
| 50|
| 47|
| 34|
| 41|
| 32|
| 47|
+---+
only showing top 20 rows