In [11]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv("../data/Reviews.csv")

In [13]:
df['Age'].describe()

count    23486.000000
mean        43.198544
std         12.279544
min         18.000000
25%         34.000000
50%         41.000000
75%         52.000000
max         99.000000
Name: Age, dtype: float64

In [14]:
df['Age'].unique()

array([33, 34, 60, 50, 47, 49, 39, 24, 53, 44, 41, 32, 55, 31, 28, 46, 21,
       36, 65, 29, 38, 59, 40, 23, 67, 48, 43, 52, 56, 66, 61, 57, 58, 37,
       27, 62, 68, 51, 83, 69, 54, 63, 71, 30, 35, 64, 42, 22, 26, 72, 25,
       45, 74, 70, 20, 80, 93, 82, 77, 85, 73, 78, 79, 19, 76, 84, 75, 89,
       81, 90, 94, 86, 99, 18, 91, 87, 92])

In [15]:
np.sort(df['Age'].unique())

array([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87, 89, 90, 91, 92, 93, 94, 99])

In [16]:
df['Age'].mode()

0    39
dtype: int64

# Under 20

In [40]:
filter_age = (df['Age'] < 20)
df[filter_age]

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
1723,1723,431,19,Really cute,This bra is just as cute in person as it is in...,4,1,0,Initmates,Intimate,Intimates
3166,3166,546,19,Great shorts!,These shorts are beautiful and the fabric is u...,4,1,0,General,Bottoms,Shorts
3764,3764,861,19,"Cute, casual top",I love the button details on this top. i was e...,4,1,11,General,Tops,Knits
4268,4268,1081,19,NaN,Really cute everyday dress. love the fabric an...,5,1,1,General,Dresses,Dresses
4979,4979,1021,19,Love,"This skirt is a must have!! it is very classy,...",5,1,1,General,Bottoms,Skirts
7418,7418,820,19,Tight in arms and bust,So i really like this top. not my usual choice...,4,1,0,General Petite,Tops,Blouses
7844,7844,478,19,Eye-catching and unique,These shorts are very well made and the embroi...,4,1,3,General,Bottoms,Shorts
8308,8308,868,19,Super cute top,I really love the style of this top. it's a gr...,4,1,3,General,Tops,Knits
8354,8354,1098,19,NaN,This dress is so pretty!! the second i saw it ...,4,1,0,General,Dresses,Dresses
8510,8510,407,19,"Very cute print/style, but weird cut on top",I really wanted this swimsuit to work and it l...,3,0,5,Initmates,Intimate,Swim
8627,8627,774,19,Online way different from in person,This dress is very thick cotton material. like...,1,0,2,Initmates,Intimate,Lounge
8729,8729,836,19,Perfect,Goes with absolutely everything. it's very com...,5,1,0,General,Tops,Blouses
8771,8771,1151,19,NaN,This dress is amazing! it's perfect for a casu...,5,1,10,General,Dresses,Dresses
8858,8858,1094,18,Love,I bought this dress for my engagement photo sh...,5,1,0,General,Dresses,Dresses
9231,9231,1027,19,Best jeans!,I disagree with the reviewer that says these a...,5,1,0,General,Bottoms,Jeans
9847,9847,1056,19,Great fit,They look good in the front as well the back i...,4,1,1,General,Bottoms,Pants
9971,9971,1080,19,NaN,Great spring colors that you really can wear j...,5,1,2,General,Dresses,Dresses
12129,12129,964,19,Great layering piece,I bought this vest hoping to be able to throw ...,5,1,0,General,Jackets,Jackets
12169,12169,1078,19,So cute but quality not good,This dress is so cute and so flattering. i lov...,3,0,17,General Petite,Dresses,Dresses
12380,12380,1078,19,NaN,Really cute stress! i love the pattern and fee...,5,1,1,General,Dresses,Dresses
13235,13235,1095,19,NaN,I was a little skeptical to buy this dress at ...,5,1,0,General,Dresses,Dresses
14436,14436,1104,19,NaN,I have a different perspective than the other ...,5,1,0,General,Dresses,Dresses
14657,14657,1084,19,NaN,I recommend this dress because it is beautiful...,2,1,0,General,Dresses,Dresses
14732,14732,1095,19,Pretty color and love the bow,"The material is different than i expected, but...",4,1,0,General,Dresses,Dresses
14785,14785,871,19,Pretty...thin,The shirt fits nice and has a classic cut. i w...,4,1,0,General,Tops,Knits
14839,14839,994,19,NaN,"This skirt is so cute!! highly recommend, supe...",4,1,1,General,Bottoms,Skirts
14905,14905,382,19,"Pretty pattern, lacking in support","I love the way that this suit looked, however ...",3,0,2,Initmates,Intimate,Swim
15107,15107,828,19,Comfy and classy,This shirt is so soft and luxuriously feeling....,5,1,0,General,Tops,Blouses
15753,15753,865,19,Love this top,This too is great to throw on when running to ...,4,1,0,General,Tops,Knits
16164,16164,936,19,"I liked this sweater, with reservations","I liked this sweater's design, i like tunics. ...",4,1,0,General Petite,Tops,Sweaters
16602,16602,142,19,NaN,"I really liked these leggings, so comfy! they ...",5,1,1,Initmates,Intimate,Legwear
16925,16925,927,19,High quality,The pattern is actually knitted into the fabri...,5,1,1,General Petite,Tops,Sweaters
17794,17794,844,19,"Cute design, poor quality","For starters, the back pictured on the website...",3,0,4,General,Tops,Blouses
18166,18166,33,19,"Pretty, but not the most comfortable",I got the burgundy color and i do have to say ...,4,1,0,Initmates,Intimate,Intimates
19704,19704,1008,18,Stunning,This skirt is absolutely beautiful and is a go...,5,1,1,General,Bottoms,Skirts
19860,19860,881,19,NaN,It's a very cute design. it looks great tucked...,3,1,2,General,Tops,Knits
20174,20174,520,19,NaN,I ordered the red motif in size m based on rev...,5,1,3,Initmates,Intimate,Layering
20736,20736,1037,19,Awesome!,I love these pants. they are very flattering a...,5,1,0,General Petite,Bottoms,Jeans
21008,21008,895,19,Comfortable cardigan,I loved the color (it is different than in the...,4,1,0,General Petite,Tops,Fine gauge
21601,21601,1109,19,Beautiful details,I love everything about this dress. the sleeve...,5,1,0,General Petite,Dresses,Dresses
21690,21690,872,19,Great shirt,"I saw this shirt online, loved it, but unfortu...",5,1,9,General,Tops,Knits
22364,22364,1072,18,I get so many compliments,I found this dress on sale in store and i usua...,4,1,0,General,Dresses,Dresses
22390,22390,868,18,"A little big, but so comfortable!",This shirt is incredibly comfortable. the mate...,4,1,0,General,Tops,Knits
23131,23131,1062,19,Perfect jumpsuit!,I have been looking for the perfect jumpsuit a...,5,1,3,General,Bottoms,Pants

In [41]:
df.loc[filter_age, 'Age'].count()

44

# from 20 gap 5

In [68]:
def filtering_age(age, gap): 
    filter_age = (df['Age'] >= age) & (df['Age'] < age + gap)
    return df.loc[filter_age, 'Age']

def fromto(min_age, max_age, gap):
    age = min_age
    
    while age <= max_age:
        print("from", age, "to", age+gap, filtering_age(age, gap).count())
        age += gap

In [69]:
fromto(20, 90, 5)

from 20 to 25 848
from 25 to 30 2039
from 30 to 35 3136
from 35 to 40 4566
from 40 to 45 3205
from 45 to 50 2922
from 50 to 55 2188
from 55 to 60 1760
from 60 to 65 1392
from 65 to 70 913
from 70 to 75 280
from 75 to 80 84
from 80 to 85 77
from 85 to 90 17
from 90 to 95 13

In [70]:
fromto(20, 90, 10)

from 20 to 30 2887
from 30 to 40 7702
from 40 to 50 6127
from 50 to 60 3948
from 60 to 70 2305
from 70 to 80 364
from 80 to 90 94
from 90 to 100 15

In [71]:
fromto(20, 90, 3)

from 20 to 23 356
from 23 to 26 823
from 26 to 29 1195
from 29 to 32 1489
from 32 to 35 2160
from 35 to 38 2517
from 38 to 41 2666
from 41 to 44 1971
from 44 to 47 1859
from 47 to 50 1680
from 50 to 53 1233
from 53 to 56 1283
from 56 to 59 1111
from 59 to 62 889
from 62 to 65 824
from 65 to 68 659
from 68 to 71 347
from 71 to 74 137
from 74 to 77 86
from 77 to 80 48
from 80 to 83 28
from 83 to 86 55
from 86 to 89 6
from 89 to 92 12