In [1]:
df = spark.read.csv('./data/sales.csv', header=True, inferSchema=True)

# Q1 Find all distinct countries.

Hint: use select(), distinct()

# Q2 Find the Name and Price of sales records in Brazil.

Hint: use filter().

# Q3 For each country, find the total Price.

Hint: Use groupBy()

# Q4 List countries by their total Price in descending order.

Hint: Use orderBy()

# Q5 Now load a second table 'countries'
http://www.cse.ust.hk/msbd5003/data/countries.csv 

df2 = spark.read.csv('countries.csv', header=True, inferSchema=True)
Redo Question 3, but replace the country names by their IDs.

Hint: Use join()

# Q6 Rewrite the PageRank example using DataFrame API.  
Here is a skeleton of the code.  Your job is to fill in the missing part.  The data files can be downloaded at:

https://www.cse.ust.hk/msbd5003/data/pagerank_data.txt

https://www.cse.ust.hk/msbd5003/data/dblp.in

In [ ]:
from pyspark.sql.functions import *

numOfIterations = 10

lines = spark.read.text("./data/pagerank_data.txt")
# You can also test your program on the follow larger data set:
# lines = spark.read.text("dblp.in")

a = lines.select(split(lines[0],' '))
links = a.select(a[0][0].alias('src'), a[0][1].alias('dst'))
outdegrees = links.groupBy('src').count()
ranks = outdegrees.select('src', lit(1).alias('rank'))

for iteration in range(numOfIterations):
# FILL IN THIS PART

ranks.orderBy(desc('rank')).show()

Note: There is a bug in the current SparkSQL implementation: The groupBy (followed by some aggregation) method sometimes fails to group all rows with the same key.  A temporary workaround is the following:

Suppose you want to do

In [ ]:
df.groupBy('A').sum('B')

If it fails to produce the desired result, try

In [ ]:
df.withColumnRenamed('A', 'A1').groupBy('A1').sum('B')

We have reported this bug to the Spark developers and the issue is currently under investigation:

https://issues.apache.org/jira/browse/SPARK-20169 (Links to an external site.)